<app-header></app-header>

<div class="dashboard-container">

  <!-- Ana Butonlar (Orta Bölüm) -->
  <div class="main-actions">
    <button (click)="goTo('appointments')">📅 Gelen Randevular</button>
    <button (click)="goTo('doctor-prescriptions')">🧾 Yazdığım Reçeteler</button>
    <button (click)="goTo('test-results')">🧪 Eklenen Test Sonuçları</button>
    <button (click)="goTo('patient-history')">📚 Hasta Geçmişleri</button>
    <button (click)="goTo('patient-reports')">📄 Hasta Raporları</button>
    <button (click)="goTo('my-patients')">🔍 Hastalarım</button>
  </div>

</div>
