<h3><i class="fa-solid fa-clipboard-list"></i> Şikayet Verileri</h3>

<table *ngIf="complaints.length > 0">
  <thead>
    <tr>
      <th><i class="fa-solid fa-hashtag"></i> ID</th>
      <th><i class="fa-solid fa-tag"></i> Konu</th>
      <th><i class="fa-solid fa-align-left"></i> İçerik</th>
      <th><i class="fa-solid fa-circle-info"></i> Durum</th>
      <th><i class="fa-solid fa-calendar-day"></i> Oluşturulma</th>
      <th><i class="fa-solid fa-note-sticky"></i> Yönetici Notu</th>
      <th><i class="fa-solid fa-hospital"></i> Klinik</th>
      <th><i class="fa-solid fa-user"></i> Kullanıcı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let complaint of complaints">
      <td>{{ complaint.id }}</td>
      <td>{{ complaint.subject }}</td>
      <td>{{ complaint.content }}</td>
      <td>{{ complaint.status }}</td>
      <td>{{ complaint.createdAt }}</td>
      <td>{{ complaint.adminNote || '-' }}</td>
      <td>{{ complaint.clinic?.name }}</td>
      <td>{{ complaint.user?.name }} {{ complaint.user?.surname }}</td>
    </tr>
  </tbody>
</table>

<button (click)="downloadCSV()" class="download-btn">
  <i class="fa-solid fa-file-csv"></i> CSV Olarak İndir
</button>
