<h2><i class="fa-solid fa-box-archive"></i> Veri İndirme Paneli</h2>
<p>Veri kategorisini seçin:</p>

<div class="export-buttons">
  <button routerLink="users"><i class="fa-solid fa-user"></i> Kullanıcılar</button>
  <button routerLink="appointments"><i class="fa-solid fa-calendar-check"></i> Randevular</button>
  <button routerLink="complaints"><i class="fa-solid fa-comment-dots"></i> Şikayetler</button>
  <button routerLink="prescriptions"><i class="fa-solid fa-capsules"></i> Reçeteler</button>
  <button routerLink="test-results"><i class="fa-solid fa-vials"></i> Test Sonuçları</button>
  <button routerLink="histories"><i class="fa-solid fa-book-medical"></i> Hasta Geçmişleri</button>
  <button routerLink="reports"><i class="fa-solid fa-file-medical"></i> Hasta Raporları</button>
</div>

<router-outlet></router-outlet>
