<h2><i class="fas fa-chart-pie"></i> İstatistik ve Analiz Paneli</h2>

<!-- Sekmeler -->
<div class="tab-buttons">
  <button [class.active]="activeTab === 'appointment'" (click)="activeTab = 'appointment'">
    <i class="fas fa-calendar-check"></i> Randevu Analizi
  </button>
  <button [class.active]="activeTab === 'user'" (click)="activeTab = 'user'">
    <i class="fas fa-users"></i> Kullanıcı Analizi
  </button>
  <button [class.active]="activeTab === 'complaint'" (click)="activeTab = 'complaint'">
    <i class="fas fa-comment-dots"></i> Şikayet Analizi
  </button>
</div>

<hr />

<!-- İçerikler -->
<div *ngIf="activeTab === 'appointment'">
  <app-appointment-analytics></app-appointment-analytics>
</div>
<div *ngIf="activeTab === 'user'">
  <app-users-analytics></app-users-analytics>
</div>
<div *ngIf="activeTab === 'complaint'">
  <app-complaints-analytics></app-complaints-analytics>
</div>
