<p>complaints-analytics works!</p>
<h3>📊 Şikayet Durum Dağılımı</h3>
<canvas baseChart
  [data]="{ labels: complaintStatusLabels, datasets: [{ data: complaintStatusData, label: 'Durum' }] }"
  [type]="'pie'">
</canvas>

<h3>🏥 Kliniklere Göre Şikayet Sayısı</h3>
<canvas baseChart
  [data]="{ labels: complaintClinicLabels, datasets: [{ data: complaintClinicData, label: 'Şikayet Sayısı' }] }"
  [type]="'bar'">
</canvas>
<h3>📚 Şikayet Konularına Göre Dağılım</h3>
<canvas baseChart
  [data]="{ labels: complaintSubjectLabels, datasets: [{ data: complaintSubjectData, label: 'Konuya Göre Sayı' }] }"
  [type]="'doughnut'">
</canvas>
