<div class="reset-password-wrapper">
  <h2>Şifre Sıfırlama</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
    <input type="text" placeholder="Ad" [(ngModel)]="name" name="name" required />
    <input type="text" placeholder="Soyad" [(ngModel)]="surname" name="surname" required />
    <input type="date" placeholder="Doğum Tarihi" [(ngModel)]="birthDate" name="birthDate" required />

    <div class="password-field">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Yeni Şifre"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
      <img
        src="assets/icons/{{ showPassword ? 'show' : 'hide' }}.png"
        class="toggle-password-icon"
        (click)="togglePassword()"
        alt="Şifre Görünürlüğü"
      />
    </div>

    <button type="submit" [disabled]="!form.form.valid">Şifreyi Güncelle</button>
  </form>
</div>
